.toolbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 15px;
}

.searchFieldContainer {
  width: 100%;
  background-color: var(--gray-light);
  overflow: hidden;
  border-radius: var(--radius-medium);
  border: 2px solid var(--gray-medium);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.searchFieldIcon,
.addCustomerButton {
  padding: 7px;
  background-color: transparent;
  border-right: 2px solid var(--gray-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--gray-strong);
}

.addCustomerButton {
  background-color: var(--gray-light);
  border: 2px solid var(--gray-medium);
  border-radius: var(--radius-medium);
}

.searchFieldInput {
  width: 100%;
  padding: 0 15px;
  font-size: 25px;
  font-weight: var(--font-regular);
  outline: none;
  text-align: left;
  border: none;
  background-color: transparent;
  border-spacing: 0;
  margin: 0;
}

.searchFieldInput::placeholder {
  color: var(--gray-strong);
}

.searchFieldInput:focus::placeholder {
  color: var(--gray-medium);
}

.buttonsContainer {
  /* background-color: blue; */
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-template-columns: 3fr minmax(35%, 1fr);
  gap: 15px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  overflow: scroll;
  position: relative;
  margin: 15px -15px;
  padding: 15px;
  border-top: 2px solid var(--gray-medium);
  border-bottom: 2px solid var(--gray-medium);
}

.noResultsMessage {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: var(--font-regular);
  color: var(--gray-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
