.container {
  display: grid;
  /* place-items: stretch; */
  /* place-content: stretch; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  justify-items: stretch;
  align-items: stretch;
  flex: 2;
  height: 100%;
}
