.emptySlot {
  background-color: var(--gray-light);
  height: 110px;
  border-radius: 3px;
}

.container {
  background-color: #ffffff;
  height: 110px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.image {
  height: 70%;
  background-color: rgba(0, 0, 0, 0.15);
}

.label {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
