.formContainer {
  display: flex;
  flex-direction: column;
}

.nifInput {
  width: 100%;
  min-width: 650px;
  padding: 30px 10px;
  font-size: 10px;
  font-weight: var(--font-bold);
  text-align: center;
  letter-spacing: 20px;
  /* background-color: var(--gray-light); */
  /* border: 2px solid var(--gray-medium); */
}
