.container {
  padding: 10px;
  text-align: center;
  background-color: var(--gray-light);
  border: 2px solid var(--gray-medium);
  border-radius: var(--radius-medium);
  margin-bottom: 10px;
}

.title,
.subtitle {
  text-transform: uppercase;
}

.title {
  font-weight: var(--font-bold);
  font-size: 15px;
  margin-bottom: 3px;
}

.subtitle {
  font-weight: var(--font-medium);
  font-size: 12px;
  opacity: 0.8;
}
