.container {
  border-top: 1px solid var(--gray-medium);
}

.innerContainer {
  margin: 10px 0;
}

.row {
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.row p {
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.orderSubtotalLabel,
.orderDiscountsLabel {
  font-size: 12px;
}

.orderSubtotalValue,
.orderDiscountsValue {
  font-size: 15px;
}

.orderSubtotalLabel,
.orderSubtotalValue {
  color: var(--gray-dark);
}

.orderDiscountsLabel,
.orderDiscountsValue {
  color: var(--theme-fill);
}
