.button {
  font-weight: var(--font-medium);
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: var(--radius-medium);
  padding: 4px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-size: 15px;
  transition: var(--transition);
  cursor: pointer;
}

.button i {
  font-size: 30px;
}

/* BUTTON TYPES */

.default,
.default .icon {
  background-color: var(--gray-superlight);
  border-color: var(--gray-medium);
  color: var(--gray-strong);
}

.enabled,
.enabled .icon {
  background-color: var(--theme-fill);
  border-color: var(--theme-border);
  color: var(--white);
}

.disabled,
.disabled .icon {
  background-color: var(--white);
  border-color: var(--gray-medium);
  color: var(--gray-medium);
}

.disabled:active {
  opacity: 1;
}
