.customerRow {
  background-color: var(--gray-light);
  border: 2px solid var(--gray-medium);
  border-radius: var(--radius-medium);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.customerDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  width: 100%;
}

.name {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--black);
}

.email {
  font-size: 12px;
  font-weight: var(--font-medium);
  color: var(--gray-strong);
  text-transform: uppercase;
}

.viewCustomerButton {
  height: 100%;
  aspect-ratio: var(--aspect-square);
  background-color: var(--gray-light);
  border-left: 2px solid var(--gray-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}
