:root {
  /* Theme Colors */
  --theme-fill: #6400c8;
  --theme-border: #3c0096;
  /* --theme-fill: #0fd200;
  --theme-border: #0faf00; */
  /* --theme-fill: #ff9600;
  --theme-border: #ff7800; */
  /* --theme-fill: #005adc;
  --theme-border: #0041a0; */

  /* Grays */
  --white: #ffffff;
  --gray-superlight: #fbfcfc;
  --gray-light: #f5f5f5;
  --gray-medium: #e6e6e6;
  --gray-strong: #787878;
  --gray-dark: #5a5a5a;
  --black: #000000;

  /* Status Indicators */
  --status-ok-fill: #00c864;
  --status-ok-border: #2b352f;
  --status-warning-fill: #ffa000;
  --status-warning-border: #8c4600;
  --status-danger-fill: rgb(230, 50, 0);
  --status-danger-border: rgb(180, 0, 0);

  /* Effects */
  --effect-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --effect-shadow-pronounced: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  --effect-shadow-huge: 0 0 30px 0 rgba(0, 0, 0, 0.1);

  /* Border Radius */
  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 15px;

  /* Font Weights */
  --font-regular: 500;
  --font-medium: 600;
  --font-bold: 700;

  /* Ratios */
  --aspect-square: 9/8; /* Visual Square */

  /* Transition */
  --transition: all 300ms ease-in-out;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: work-sans, sans-serif;
}

input,
input:before,
input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

*:active {
  /* outline: 0 !important; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
