.container {
  padding: 10px;
  background-color: var(--gray-superlight);
  height: 100vh;
}

.leftSide {
  width: 70%;
  float: left;
  padding-right: 20px;
}

.rightSide {
  width: 30%;
  float: right;
}
