.container {
  position: fixed;
  padding: 10px;
  background-color: var(--gray-superlight);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.leftSide {
  width: 70%;
  height: 100%;
  float: left;
  padding-right: 20px;
}

.rightSide {
  width: 30%;
  height: 100%;
  float: right;
}
