.categoryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  height: 40px;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: 14px;
  padding: 5px 20px;
}

.unselected {
  color: var(--black);
  background-color: var(--white);
  border-color: var(--gray-medium);
}

.unselected:active {
  opacity: 0.5;
  background-color: var(--gray-light);
}

.selected {
  color: var(--white);
  background-color: var(--theme-fill);
  border-color: var(--theme-border);
  box-shadow: var(--effect-shadow);
}
